body {
  height: 150px;
  width: 550px;
  margin: 10px;
  background: #263238;
  color: #E0E0E0;
}

.slct {
  width: 60px;
  background: #263238;
  background-image: url(../images/arrow_down_white_18dp_2x.png);
  background-size: 15px;
  background-position: right;
  background-repeat: no-repeat;
  color: #E0E0E0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  border-bottom: #607D8B 1px solid;
}

.slct:focus {
  outline-width: 0;
  border-bottom: #90A4AE 1px solid;
}

.opt {
  width: 60px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #263238;
  color: #E0E0E0;
}

.opt:focus,
.opt:checked {
  background: #00B0FF;
  color: #222222;
}

.txt {
  background: #263238;
  color: #E0E0E0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-bottom: #607D8B 1px solid;
}

.txt-width-long {
  width: 200px;
}

.txt-width-small {
  width: 78px;
}

.txt-margin-l-10 {
  margin-left: 10px;
}

.txt:focus {
  outline-width: 0;
  border-bottom: #90A4AE 1px solid;
}

.btn {
  width: 80px;
  margin-left: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.btn_save {
  background: #1DE9B6;
  color: #222222;
}

.btn_save:hover {
  background: #64FFDA;
}

.btn_clear {
  background: #FF1744;
  color: #222222;
}

.btn_clear:hover {
  background: #FF5252;
}

.lst {
  margin-left: 15px;
  padding: 0;
}

.li-mod {
  padding: 3px;
}

.li-mod:hover {
  background: #607D8B;
}
